@font-face {
  font-family: 'NanumJungHagSaeng';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumJungHagSaeng/NanumJungHagSaeng.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumJungHagSaeng/NanumJungHagSaeng.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumJungHagSaeng/NanumJungHagSaeng.ttf') format('truetype');
}